
/* header style */

.image-container{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
body{
    padding-bottom: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu{
    position: fixed;
    background-color: rgb(134, 64, 157);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;  
    padding: 10px 20px;
}


.nav-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 0;
    margin: 0;
    
    
}

.nav-menu li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    
}

.nav-menu img{
    width: 20px;
    height: 30px;
}

.nav-menu a:hover{
    background-color: lightblue;
}
/* main styles */
@font-face{
    font-family: "africa";
    src: url("../fonts/Africa.ttf") format("truetype");
    
}

h1{
    font-family: "africa";
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.main-image{
    margin-top: -1rem;
    object-fit: cover;
}

.p-one{
    background-color: rgb(218, 80, 45);
    line-height: 1.5;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

.desert{
    width: 300px;
    height: 250px;
    object-fit: cover;
    box-shadow: 10px 20px 20px;
}

.p-two{
    background-color: rgb(35, 118, 33);
    line-height: 1.5;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

.gorilla{
    width: 250px;
    height: 400px;
    object-fit: cover;
    box-shadow: -20px 0px 10px;
}

.p-three{
    background-color: rgb(65, 111, 248);
    line-height: 1.5;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    
}

.sanctuary{
    width: 300px;
    height: 250px;
    object-fit: cover;
    box-shadow: 10px 20px 20px;
    object-position: right;
}
    
    blockquote{
        font-weight: 200;
    }
/* footer styles */

.footnotes{
    position: fixed;
    display: flex;
    margin-top: 10rem;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    background-color: rgb(134, 64, 157);
    width: 100%;
    padding: 0 1rem 0;
    z-index: 1000;
    
}


.footnotes a{
    color: black;
}