@font-face{
    font-family: "africa";
    src: url("../fonts/Africa.ttf") format("truetype");
}

h1{
    font-family: "africa";
    font-weight: 100;
}

/* header style */

/* footer style */

/* general page style */

/* about page style */


