
/* header style */

html{
    height: 100%;
}
body{
    padding-bottom: 100px;
}
.nav-menu{
    position: fixed;
    background-color: rgb(235, 151, 67);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;  
    padding: 0 20px;
}


.nav-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    
    
}

.nav-menu li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    
}

.nav-menu img{
    width: 80px;
    height: 90px;
}
/* main styles */
@font-face{
    font-family: "africa";
    src: url("../fonts/Africa.ttf") format("truetype");
    
}

h1{
    font-family: "africa";
    font-weight: 400;
    padding-left: 10rem;
    letter-spacing: 50px;
    padding-top: 5rem;
    
    
}

.img-main{
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-one{
    background-color: rgb(235, 151, 67);
    width: 100%;
    margin-top: 4rem;
    
}
.video{
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4rem;

}

.main-one h2{
    font-family: "africa";
    font-weight: 400;
    padding-left: 13rem;
    padding-top: 1.5rem;

}

.main-one p{
    margin: 0 3rem;
    padding-bottom: 2rem;
    line-height: 1.5;
    font-weight: 900;
    font-size: 1.2rem;
}

.h3-tags{
    background-color: rgb(235, 151, 67);
    padding-bottom: 1rem;
    margin-right: 15rem;
    letter-spacing: 0.5rem;
    margin-left: 1rem;
}

.h3-tags h3{
    margin-top: 5rem;
    margin-left: 10rem;
    font-family: "africa";
    src: url("../fonts/Africa.ttf") format("truetype");
    font-size: 20px;
    padding-top: 1rem;
}

.h3-tags h3 a{
text-decoration: none;
color: black;
margin: 0 auto;
}

.h3tags{
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 1rem;
    font-family: "africa";
    src: url("../fonts/Africa.ttf") format("truetype");
    font-size: 20px;
    background-color: rgb(235, 151, 67);
    padding-bottom: 1rem;
    padding-top: 0.05rem;
    letter-spacing: 0.5rem;
}

.h3tags a{
    text-decoration: none;  
    color: black;
    margin-left: 6rem;
    
}

/* about images */
.about-photos{
    position: relative;
    display: grid;
    object-fit: cover;
}
    

.about-photos img{
    width: 200px;
    height: 200px;
}

.dian-fossey{
    z-index: 2;
    margin-left: 1rem;
    box-shadow: 20px 20px 20px;
    }

.nelson-mendala{
    object-fit: cover;
    margin-left: 10rem;
    margin-top: -10rem;
    z-index: 3;
    box-shadow: 20px 20px 20px;
}

.lagos{
    margin-left: 3rem;
    margin-top: -8rem;
    z-index: 4;
    box-shadow: 20px 20px 20px;
}

img:hover{
    z-index: 5;
}

/* attractions photos */

.attractions-photos{
    position: relative;
    display: grid;
    object-fit: cover;
    margin-left: 1rem;
}

.attractions-photos img{
    width: 200px;
    height: 200px;
}

.lemurs{
    z-index: 2;
    box-shadow: 20px 20px 20px;
    }

.kilimanjaro{
    object-fit: cover;
    margin-left: 10rem;
    margin-top: -10rem;
    z-index: 3;
    box-shadow: 20px 20px 20px;
}

.elephants{
    margin-left: 3rem;
    margin-top: -8rem;
    z-index: 4;
    box-shadow: 20px 20px 20px;
}

img:hover{
    z-index: 5;
}

/* culture photos */

.culture-photos{
    position: relative;
    display: grid;
    object-fit: cover;
    margin-left: 1rem;
}

.culture-photos img{
    width: 200px;
    height: 200px;
}

.cuisine{
    z-index: 2;
    box-shadow: 20px 20px 20px;
    }

.languages{
    object-fit: cover;
    margin-left: 10rem;
    margin-top: -10rem;
    z-index: 3;
    box-shadow: 20px 20px 20px;
}

.tribes{
    margin-left: 3rem;
    margin-top: -8rem;
    z-index: 4;
    box-shadow: 20px 20px 20px;
}

img:hover{
    z-index: 5;
}

/* footer style */

.footnotes{
    position: fixed;
    display: flex;
    margin-top: 10rem;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    background-color: rgb(235, 151, 67);
    width: 100%;
    padding: 0 1rem 0;
    z-index: 1000;
    
}

.footnotes a{
    color: black;
}



