/* body styles */

.nav-menu{
    position: fixed;
    background-color: rgb(102, 86, 71);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;  

}


.nav-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    justify-content: space-around;
    
}

.nav-menu li a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    
}

.nav-menu img{
    width: 20px;
    height: 30px;
    object-fit: cover;
}


.nav-menu img{
    width: 20px;
    height: 30px;
}

.nav-menu a:hover{
    background-color: bisque;
}
/* main styles */

/* main styles */

body{
    padding-bottom: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face{
    font-family: "africa";
    src: url("../fonts/Africa.ttf") format("truetype");
    
}
h1{
    font-family: "africa";
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    
}

h2{
    font-family: "africa";  
    font-size: 1.5;
    font-weight: 400;
    text-align: center;
  }

/* culture */

 .culture{
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 20px 20px 20px;
 }

.tribal-man{
    object-fit: cover;
    width: 200px;
    height: 250px;
    margin-left: 2rem;
    box-shadow: 20px 20px 20px;
}

.african-hut{
    object-fit: cover;
    width: 250px;
    height: 300px;
    margin-left: 5rem;
    box-shadow: 20px 20px 20px;
}

.grid p{
    margin-left: 1rem;
}

/* languages */

.script{
    object-fit: cover;
    width: 150px;
    height: 200px;
    box-shadow: 20px 20px 20px;

}

.cave-writing{
    object-fit: cover;
    width: 150px;
    height: 250px;
    margin-left: 2rem;
    box-shadow: 20px 20px 20px;
}


/* music, dance and food */

.african-food{
    object-fit: cover;
    width: 300px;
    height: 250px;
    margin-top: .2rem;
    margin-left: 1rem;
    box-shadow: 20px 20px 20px;

}

.music-dance{
    width: 200px;
    height: 250px;
    margin-right: 2rem;
    object-fit: cover;
    float: right;
    box-shadow: 20px 20px 20px;
}

.grid p{
   margin-left: .5rem;
}

/* footer style */

.footnotes{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0; 
    width: 100%;
    z-index: 1000;
    background-color: rgb(102, 86, 71);
    justify-content: space-around;
    
}

.footnotes a{
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

.footnotes p{
    margin: 0.5rem 0;
}